<div class="list-group">
  <ul>
    <% unless tweets.empty?%>
      <% tweets.each do |tweet| %>
      <li class="list_item">
        <h5>
          <% if tweet.user_id == @current_user.id %>
            <a href="/users/<%= tweet.user_id %>" class="badge badge-info" style="color:white;">
              <%= User.find(tweet.user_id).nickname %>
            </a>
          <% else %>
            <a href="/users/<%= tweet.user_id %>" class="badge badge-secondary" style="color:white;">
              <%= User.find(tweet.user_id).nickname %>
            </a>
          <% end %>
        </h5>
        <a href="/tweets/<%= tweet.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= tweet.content %></h5>
            <small><%= tweet.updated_at %></small>
          </div>
        
          <br>
          <% if tweet.image %>
            <%= image_tag tweet.image[:original].url %>
          <% end %>
        </a>
      </li>
      <% end %>
    <% else %>
      <li class="list_item">
        フォローしているユーザがいません。
      </li>
    <% end %>
  </ul>
</div>