<div class="tweets_list">
  <div class="list-group">
    <ul>
      <% unless @tweets.empty?%>
        <% @tweets.each do |tweet| %>
        <li class="list_item">
          <a href="/tweets/<%= tweet.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= tweet.content %></h5>
              <small><%= tweet.updated_at %></small>
            </div>
            
            <small> <%= User.find(tweet.user_id).nickname %> </small>
            <br>
            <% if tweet.image %>
              <%= image_tag tweet.image[:original].url %>
            <% end %>
          </a>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
