<%= render "tweets/delete_modal", tweet: @tweet %>
<div class="tweets_list">
  <div class="list-group">
    <ul>
      <li class="list_item">
        <a href="/tweets/<%= @tweet.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= @tweet.content %></h5>
            <small><%= @tweet.updated_at %></small>
          </div>
          
          <small> <%= User.find(@tweet.user_id).nickname %> </small>
          <br>
          <% if @tweet.image %>
            <%= image_tag @tweet.image[:original].url %>
          <% end %>
        </a>
      </li>
    </ul>
    <% if  @tweet.user_id == @current_user.id %>
      <div class="button_center box_padding">
        <a class="btn btn-outline-warning" href="/tweets/<%= @tweet.id %>/edit" role="button">Edit</a>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteTweetModal">
          Delete
        </button>
      </div>
    <% end %>
    <div class="button_center">
      <a class="btn btn-outline-primary" href="/tweets" role="button">Go To Top</a>
    </div>
    <div class="reply_tweet" style="padding:6em;">
      <%= form_with(model: @reply_tweet, url: create_retweet_tweets_path) do |form| %>
        <h2>Reply Tweet</h2>
        <br>
        <h4>Content</h4>
        <div class="input-group border border-info rounded">
          <%= form.hidden_field :tid, value: @tweet.id %>
          <%= form.text_area :content, class: "form-control", placeholoder: "enter content", "area-label": "With textarea" %>
        </div>
        <br>
        <h4>Image</h4>
        <small>if you post your image</small>
        <br><br>
        <div class="input-group mb-3">
          <div class="custom-file">
            <%= form.label :image, class: "custom-file-label", for: "inputGroupFile03" %>
            <%= form.file_field :image, class: "custom-file-input", id: "inputGroupFile03", "aria-describedby": "inputGroupFileAddon03" %>
          </div>
        </div>
        <%= form.submit class: "btn btn-primary" %>
      <% end %>
      <div id="reply_tweets" style="padding-top:3em;">
        <ul>
          <%= render "reply_tweets", reply_tweets: @reply_tweets %>
        </ul>
      </div>
    </div>
  </div>
</div>
