<% unless user.id == @current_user.id %>
  <li class="item">
    <a href="/users/<%= user.id %>">
      <div class="card border-info mb-3" style="width: 100%; ">
        <div class="card-body text-info">
          <h5 class="card-title"><%= user.nickname %></h5>
          <p class="card-text">Tweet Count : <%= user.tweets.count%></p>
          <p class="card-text">Last Tweet Time : <% if @user.tweets.blank? %>  None<% else %> <%= @user.tweets.last.created_at %> <% end %></p>
          <p class="card-text">Following Count : <%= user.followings.count%></p>
          <p class="card-text">Followers Count : <%= user.followers.count%></p>
        </div>
      </div>
    </a>
  </li>
<% end %>