<div class="hoge">
    <div class="sign_up_form">
        <h2>Sign Up</h2>
        <%= form_with(model: @user, local: true, url: users_signup_path) do |form| %>
            <div class="form-group">
                <%= form.label :nickname, for: "exampleInputEmail1" %>
                <%= form.text_field :nickname, class: "form-control", id: "xampleInputEmail1", "aria-describedby": "emailHelp", placeholder: "Enter Nickname" %>
            </div>
            <div class="form-group">
                <%= form.label :email, for: "exampleInputEmail1" %>
                <%= form.text_field :email, class: "form-control", id: "xampleInputEmail1", placeholder: "Enter Email" %>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <%= form.label :password, for: "exampleInputPassword1" %>
                <%= form.text_field :password, type: "password", class: "form-control", id: "exampleInputPassword1", placeholder: "Enter Password" %>
                <%# <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> %>
            </div>

            <div class="form-group">
                <%= form.label :password_confirmation, for: "exampleInputPassword1" %>
                <%= form.text_field :password_confirmation, type: "password", class: "form-control", id: "exampleInputPassword1", placeholder: "Enter Password again" %>
            </div>
            <%= form.submit class: "btn btn-primary" %>
        <% end %>
    </div>
</div>