<!DOCTYPE html>
<html>
  <head>
    <title>PaletteTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="/tweets" style="color:white;">PaletteTwitter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <%# <li class="nav-item active">
              <a class="nav-link" href="#" style="color:white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/tweets/new" style="color:white;">New Tweet</a>
            </li> %>
            <li class="nav-item active">
              <%# <a class="nav-link" href="#" style="color:white;">Pricing</a> %>
            </li>
          </ul>
          <span class="navbar-text">
            <a role="button" class="btn btn-outline-primary" style="color:white;" href="/tweets/new"> New Tweet </a>
            <a role="button" class="btn btn-outline-primary" style="color:white;" href="/users/<%= @current_user.id %>"> <%= @current_user.nickname %> </a>
          </span>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
